.Nav{
    position: fixed;  
    top: 0;
    width: 100%;
    padding: 20px;
    height: 30px;
    display: flex;
   
    justify-content: space-between;
    z-index: 1;
   
    /* add little bit of animation in this main screen */
   
    transition-timing-function: ease-in;
    transition: all 2.10s;
   }
   .nav__black{
       background-color: #111;
   
   }
    .Nav__logo{
       position: fixed;
       left: 20px;
       width: 80px;
       margin-left: 10px;
       object-fit:contain ;
   }
   .avatar{
     position: fixed;
     right:20px;
     width: 30px;
     object-fit: contain;  
   }